@using TicketManager.Shared.ViewModels
@inject NavigationManager NavigationManager

<div class="card d-inline-block align-top" style="width: 13rem;">
    <div class="card-body">
        <h5 class="card-title">@Ticket.Title</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Ticket.CreatedOn.ToString("yyyy-MM-dd'T'HH:mm")</h6>
        <p class="card-text">@Ticket.ShortContent</p>
        <button class="btn btn-primary card-link" @onclick="@(()=>ShowTicket(Ticket.Id))">Details</button>
    </div>
</div>

@code {
    [Parameter]
    public TicketListItem Ticket { get; set; }

    void ShowTicket(int id)
    {
        NavigationManager.NavigateTo($"/tickets/{id}");
    }
}
