@using TicketManager.Shared.ViewModels

@{
    int length = Ticket.Content.Length;
    var exampleContent = $"{Ticket.Content.Substring(0, length < 20 ? length : 20)}...";
}
<div class="card d-inline-block align-top" style="width: 13rem;">
    <div class="card-body">
        <h5 class="card-title">@Ticket.Title</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Ticket.CreatedOn</h6>
        <p class="card-text">@exampleContent</p>
        <a href="#" class="btn btn-primary card-link">Details</a>
    </div>
</div>

@code {
    [Parameter]
    public TicketListItem Ticket { get; set; }
}
