
@page "/tickets/{id:int}"
@inject ITicketsService ticketsService
@using TicketManager.Shared.ViewModels;

<h1>@Model.Title</h1>
<div class="container-fluid mt-100">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        <img width="50" height="50"
                             src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__480.png"
                             class="d-block ui-w-40 rounded-circle" alt="">
                        <div class="media-body ml-3">
                            @Model.CreatorEmail
                            <div class="text-muted small">
                                <time datetime="@Model.CreatedOn.ToString("O")"></time>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <article>
                        @((MarkupString)Model.SanitizedContent)
                    </article>

                    @*@if (this.User.Identity.IsAuthenticated)
                                    {
                        <div class="px-4 pt-3">
                            <button type="button" class="btn btn-primary float-right mb-3" onclick="showAddCommentForm(0)">
                                <i class="fa fa-plus"></i>&nbsp; Comment
                            </button>
                        </div>
                                        <div class="clearfix"></div>}
                                    @{ DisplayComments(null); }*@
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    public TicketDetailsModel Model { get; set; } = new TicketDetailsModel();


    protected override async Task OnInitializedAsync()
    {
        Model = await ticketsService.GetTicket(Id);
    }

}